<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20" >
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <div class="container text-center">
                        <img class="login-image" src="../../../assets/logo.png" alt="">
                    </div>
               
                <h1 class="text-center">Login Here !!</h1>

                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width"  appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input
                        [(ngModel)] = 'loginData.username'
                        name="username"
                        required
                        name="username"
                        matInput placeholder="Enter here" />
                         <mat-hint>Enter Valid User Name</mat-hint>
                    </mat-form-field>

                    <mat-form-field class="full-width"  appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                        [(ngModel)] = 'loginData.password'
                        required
                        type="password"
                        name="username"
                        matInput placeholder="Enter here" />
                        <mat-hint>Enter Valid Password</mat-hint>
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button color="primary" type="submit"> Login </button>
                        <button class="ml20" mat-raised-button color="accent" > Reset </button> 
                    </div>
                  
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div> 